.instruction-box{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-inline: 4%;
}

.row-box-left{
    width: 78%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-block: 1%;
}


.input-box{
    border-width: 2px;
    border-color: #C0DA74;
    border-radius: 15px;
    margin: 5px;
    padding-inline: 10px;
    background-color: transparent;
    color: #F5F4F5;
    width: 60%;
    font-size: 24px;
}

.toast-box{
    max-width: 90vw
}

.small-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 10px;
}

.inactiveButton{
    background-color: #F5F4F5;
}


@media all and (max-width: 950px){
    .small-info{
        font-size: 10px;
    }
    .row-box-left{
        width: 90%;
        font-size: 10px;
    }
    .input-box{
        font-size: 14px;
        width: 70%;
    }
}